@using ClassLibrary.DTO
@using OMPWebApp.Services
@inject DialogService DialogService
@inject ApiConnectionService<ReccuringIncomeInvoiceDTO> ApiServiceInvoice

<RadzenTemplateForm Data="@reccuringmodel" TItem="ReccuringIncomeInvoiceDTO">
    <div class="p-3">
        <RadzenLabel Text="Description" />
        <RadzenTextBox @bind-Value="reccuringmodel.Description" Style="width:100%;" />

        <RadzenLabel Text="Frequency (How much per month)" Style="margin-top: 1rem;" />
        <RadzenNumeric @bind-Value="Frequency" Style="width:100%;" />

        <RadzenLabel Text="End Time (Optional)" Style="margin-top: 1rem;" />
        <RadzenDatePicker @bind-Value="reccuringmodel.DeleteDate" Style="width:100%;" />
    </div>
</RadzenTemplateForm>
<RadzenButton Text="Save" Click="() => OnSubmit()" ButtonStyle="ButtonStyle.Primary" Style="margin-top: 1.5rem;" />
@code {
    [Parameter] public InvoiceIncomeDTO? model { get; set; }
    private int Frequency = new();
    private ReccuringIncomeInvoiceDTO reccuringmodel = new();

    private async Task OnSubmit()
    {
        reccuringmodel.CreationDate = DateTime.UtcNow;
        reccuringmodel.IsDeleted = false;
        reccuringmodel.Frequency = Frequency.ToString();
        reccuringmodel.InvoiceId = model.Id;
        await ApiServiceInvoice.PostResource($"/api/InvoiceIncome/MakeReccuring", reccuringmodel);
        DialogService.Close(true);
    }
}
