@using ClassLibrary.DTO
@using OMPWebAppAdmin.Services

@inject DialogService DialogService
@inject ApiConnectionService<CustomerDTO> ApiServiceCustomer

<RadzenTemplateForm TItem="CustomerDTO" Data="@customer" Submit="@SaveCustomer" Style="padding: 20px;">
    <RadzenFieldset Legend="Edit Customer Details">
        <RadzenLabel Text="Name" />
        <RadzenTextBox @bind-Value="customer.Name" Placeholder="Enter customer name" Style="width: 100%;" />

        <RadzenLabel Text="Company Universal Password" Style="margin-top: 10px;" />
        <RadzenTextBox @bind-Value="customer.Password" Placeholder="Enter CUP" Style="width: 100%;" />

        <RadzenLabel Text="Address" Style="margin-top: 10px;" />
        <RadzenTextBox @bind-Value="customer.Address" Placeholder="Enter Address" Style="width: 100%;" />

        <RadzenLabel Text="Email" Style="margin-top: 10px;" />
        <RadzenTextBox @bind-Value="customer.Email" Placeholder="Enter Email" Style="width: 100%;" />

        <RadzenLabel Text="Location" Style="margin-top: 10px;" />
        <RadzenTextBox @bind-Value="customer.Location" Placeholder="Enter Location" Style="width: 100%;" />

        <RadzenLabel Text="Phone Contact" Style="margin-top: 10px;" />
        <RadzenTextBox @bind-Value="customer.PhoneContact" Placeholder="Enter Phone Contact" Style="width: 100%;" />
    </RadzenFieldset>

    <div style="text-align: center; margin-top: 20px;">
        <RadzenButton Text="Save" ButtonType="ButtonType.Submit" Style="margin-right: 10px; background-color: #0078D7; color: white;" />
        <RadzenButton Text="Cancel" Click="@((args) => DialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" />
    </div>
</RadzenTemplateForm>

@code {
    [Parameter] public CustomerDTO customer { get; set; } 

    private async Task SaveCustomer()
    {
        customer.EditDate = DateTime.Now;
        await ApiServiceCustomer.PutResource($"/api/Customer/{customer.Id}", customer);

        DialogService.Close(true);
    }
}
